# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
cache/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code (optional, if you don't want to share settings)
.vscode/